header {
    background-image: url("bookwallpaper.jpg");
    background-size: cover;
    height: 500px;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: #F7F2E0;
    height: 60px;
    margin-top: 10px;
    clear: both;
    text-align: center;
    padding: 3px;
}

.whiteback h1{
    text-align: center;
}

.box{
    border: solid 1px black;
    float: left;
    width: 28%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px;
}

.box h2,
.box p {
    text-align: center;
}
.box h2{
}

.box p{
    background-color: #D8D8D8;
}

footer p{
    text-align: center;
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    background-color: #D8D8D8;
}

@media (max-width: 768px) {
    header{
    height: 250px;
    }
    .box{
    float: none;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
}